body {
   padding-top: 15px;
}

#file_upload{
   background: url("/frontend/assets/img/upload.png") no-repeat scroll 0 0 transparent;
   color: transparent;
    height: 50px !important;
    margin-left: 1px;
    position: relative;
    width: 127px !important;
}

.inactive {
  background-image: url(../img/inactive.png);
  background-repeat: no-repeat;
  height: 41px;
}

.active {
  background-image: url(../img/active.jpg);
  background-repeat: no-repeat;
  height: 41px;
}

.activating {
  background-image: url(../img/activating.jpg);
  background-repeat: no-repeat;
  height: 41px;
}

/*Menu*/

.navbar .nav {
    width: 90%;
}    

.logOut{
  position:absolute; 
  right: 0px;
}  

/*List*/

.list_header {
  
  background-color:#F9F9F9;
}