/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

.inactive {
  background-image: url(../img/inactive.png);
  background-repeat: no-repeat;
  height: 41px;
}

.active {
  background-image: url(../img/active.jpg);
  background-repeat: no-repeat;
  height: 41px;
}

.activating {
  background-image: url(../img/activating.jpg);
  background-repeat: no-repeat;
  height: 41px;
}