body {
   padding-top: 15px;
}

.inactive {
  background-image: url(../img/inactive.png);
  background-repeat: no-repeat;
  height: 41px;
}

.active {
  background-image: url(../img/active.jpg);
  background-repeat: no-repeat;
  height: 41px;
}

.activating {
  background-image: url(../img/activating.jpg);
  background-repeat: no-repeat;
  height: 41px;
}

/*Menu*/

.navbar .nav {
    width: 90%;
}    

.logOut{
  position:absolute; 
  right: 0px;
}  

/*List*/

.list_header {
  
  background-color:#F9F9F9;
}